.Retangulo{
    background-image: url(/trilhaRetangulo.jpg);
    height: 371px;
    background-position: center;
    background-size: cover;
}

.Retangulo div{
    background-color: black;
    opacity: 30%;
    width: 100%;
    height: 100%;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0 160px 0;
    gap: 80px;
}

.titulo-cardContainer{
    font-weight: 600;
    font-size: 48px;
    color: var(--verdeEscuro);
}


