*{
    margin: 0;
    padding: 0;
}

body{
    color: var(--nemTaoPreto);
    font-family: inter;
}

:root{
    --nemTaoPreto:#0D1A26;
    --cinzaEscuro:#5C6670;
    --cinzaMedio:#AEB3B7;
    --cinzaClaro:#EFF0F0;
    --verdeEscuro:#504908;
    --verdeClaro:#D6E2D3;
}

a:link {
    color: inherit; /* Mantém a cor padrão do texto */
    text-decoration: none; /* retira sublinhado dos links */
  }
  
  a:visited {
    color: inherit; /* Mantém a cor padrão do texto */
  }


.Retangulo{
    background-image: url(/trilhaRetangulo.jpg);
    height: 371px;
    background-position: center;
    background-size: cover;
}

.Retangulo div{
    background-color: black;
    opacity: 30%;
    width: 100%;
    height: 100%;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0 160px 0;
    gap: 80px;
}

.titulo-cardContainer{
    font-weight: 600;
    font-size: 48px;
    color: var(--verdeEscuro);

}


